Repository 1uckyneo/jagdai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx,vue}": [
    "eslint --fix"
  ],
  "*.{json,yml,md,html,js,ts,tsx,vue}": [
    "prettier --write"
  ]
}

simplify useCreation
  packages/jagdai/src/useCreation.ts
Due: eslint --fix, prettier --write

update docs
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
Due: prettier --write

release v3.0.3
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

feat: feat: new solution for shallow comparison
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
  packages/jagdai/__tests__/shallow.test.tsx
  packages/jagdai/src/create.tsx
  packages/jagdai/src/index.ts
  packages/jagdai/src/useQuerySelector.ts
  packages/jagdai/src/useShallow.ts
Due: eslint --fix, prettier --write

release v4.0.0
  .changeset/tame-cobras-know.md
Due: prettier --write

released v4.0.0
  .changeset/tame-cobras-know.md
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

style: update some var/type names
  packages/jagdai/src/create.tsx
  packages/jagdai/src/useQuerySelector.ts
  packages/jagdai/src/useShallow.ts
Due: eslint --fix, prettier --write

docs: update documents
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
Due: prettier --write

release v4.0.1
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none

style: rename a type name
  packages/jagdai/src/jagdai.ts
  packages/jagdai/src/useEvent.ts
Due: eslint --fix, prettier --write

release v4.0.2
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write
