Repository 1uckyneo/jagdai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: support event subscription
  package.json
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  packages/jagdai/src/compare.ts
  packages/jagdai/src/index.ts
  packages/jagdai/src/jagdai.tsx
  packages/jagdai/src/storeManager.ts
  packages/jagdai/src/types.ts
  packages/jagdai/src/useCreation.ts
  packages/jagdai/src/useEvent.ts
  packages/jagdai/src/useEventEffect.ts
  packages/jagdai/src/useQuerySelector.ts
  projects/examples/CHANGELOG.md
  projects/examples/package.json
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/components/Count.tsx
  projects/examples/src/counter/store/countStore.ts
Due: eslint --fix, prettier --write

feat: event subscribe with string
  packages/jagdai/src/index.ts
  packages/jagdai/src/jagdai.tsx
  packages/jagdai/src/types.ts
  packages/jagdai/src/useCommandSelector.ts
  packages/jagdai/src/useEventEffect.ts
  packages/jagdai/src/useJagdaiEvent.ts
  packages/jagdai/src/useQuerySelector.ts
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/components/Count.tsx
  projects/examples/src/counter/store/countStore.ts
Due: eslint --fix, prettier --write

feat: breaking change for event
  .eslintignore
  .eslintrc
  package.json
  packages/jagdai/src/create.tsx
  packages/jagdai/src/index.ts
  packages/jagdai/src/isolator.tsx
  packages/jagdai/src/jagdai.ts
  packages/jagdai/src/jagdai.tsx
  packages/jagdai/src/shallow.ts
  packages/jagdai/src/store.ts
  packages/jagdai/src/storeManager.ts
  packages/jagdai/src/types.ts
  packages/jagdai/src/useCommandSelector.ts
  packages/jagdai/src/useEventEffect.ts
  packages/jagdai/src/useEventSubscription.ts
  packages/jagdai/src/useJagdaiEvent.ts
  packages/jagdai/src/useQuerySelector.ts
  packages/jagdai/src/useStoreEvent.ts
  pnpm-lock.yaml
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/index.tsx
  projects/examples/src/counter/store/countStore.ts
  projects/examples/src/index.tsx
  projects/examples/src/todo/index.tsx
Due: eslint --fix, prettier --write

update docs
  README.md
  README_kk_KZ.md
  package.json
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
  packages/jagdai/package.json
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/components/Count.tsx
  projects/examples/src/counter/store/countStore.ts
  projects/examples/src/counter/store/counterStore.ts
  projects/examples/src/counter/store/index.ts
  projects/examples/src/todo/store/todoStore.ts
  projects/examples/tsconfig.json
  tsconfig.cjs.json
  tsconfig.esm.json
Due: eslint --fix, prettier --write

release 0.2.0
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

update dependencies
  .eslintignore
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  packages/jagdai/src/useEventSubscription.ts
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: eslint --fix, prettier --write

update pnpm-lock
  pnpm-lock.yaml
Due: none

add tests
  package.json
  packages/jagdai/__tests__/basic.test.tsx
  packages/jagdai/__tests__/shallow.test.tsx
  packages/jagdai/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

update example
  projects/examples/src/counter/Counter.tsx
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/components/Count.tsx
  projects/examples/src/counter/index.tsx
  projects/examples/src/counter/store/counterStore.ts
Due: eslint --fix, prettier --write

release first major version
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

update docs and deps
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
  packages/jagdai/package.json
  pnpm-lock.yaml
Due: prettier --write

release v1.0.1
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

fix: CodeSandbox typo
  README.md
  README_kk_KZ.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
Due: prettier --write

release v1.0.2
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

fix English docs
  README.md
Due: prettier --write

feat: useEvent with breaking change
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
  packages/jagdai/__tests__/basic.test.tsx
  packages/jagdai/src/create.tsx
  packages/jagdai/src/index.ts
  packages/jagdai/src/jagdai.ts
  packages/jagdai/src/useCommandSelector.ts
  packages/jagdai/src/useEvent.ts
  packages/jagdai/src/useEventSubscription.ts
  packages/jagdai/src/useStoreEvent.ts
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/store/counterStore.ts
  projects/examples/src/todo/store/todoStore.ts
Due: eslint --fix, prettier --write

release v2.0.0
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

fix: type inference
  packages/jagdai/src/create.tsx
  packages/jagdai/src/jagdai.ts
  packages/jagdai/src/useEventSubscription.ts
  packages/jagdai/src/useQuerySelector.ts
Due: eslint --fix, prettier --write

update event name style
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
  packages/jagdai/package.json
  packages/jagdai/src/create.tsx
  packages/jagdai/src/shallow.ts
  packages/jagdai/src/useQuerySelector.ts
  pnpm-lock.yaml
  projects/examples/package.json
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/components/Count.tsx
  projects/examples/src/counter/store/counterStore.ts
Due: eslint --fix, prettier --write

release v2.0.1
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

fix: useEvent
  packages/jagdai/src/create.tsx
  packages/jagdai/src/jagdai.ts
  packages/jagdai/src/useCreation.ts
  packages/jagdai/src/useEvent.ts
  packages/jagdai/src/useLazyRef.ts
  packages/jagdai/src/utility.ts
Due: eslint --fix, prettier --write

add a useEvent test
  packages/jagdai/__tests__/basic.test.tsx
Due: eslint --fix, prettier --write

update counter example
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/components/Count.tsx
  projects/examples/src/counter/store/counterStore.ts
Due: eslint --fix, prettier --write

release v2.0.2
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

fix: event subscription
  packages/jagdai/src/create.tsx
  packages/jagdai/src/useCreation.ts
  packages/jagdai/src/useEvent.ts
  packages/jagdai/src/useEventSubscription.ts
Due: eslint --fix, prettier --write

fix: example isOdd
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/store/counterStore.ts
Due: eslint --fix, prettier --write

release v2.0.3
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

Breaking changes with shorter api
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  package.json
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
  packages/jagdai/__tests__/basic.test.tsx
  packages/jagdai/src/create.tsx
  packages/jagdai/src/shallow.ts
  packages/jagdai/src/useCreation.ts
  packages/jagdai/src/useEvent.ts
  packages/jagdai/src/useEventSubscription.ts
  packages/jagdai/src/useLazyRef.ts
  packages/jagdai/src/utility.ts
  projects/examples/src/counter/Counter.tsx
  projects/examples/src/counter/components/Controls.tsx
  projects/examples/src/counter/components/Count.tsx
  projects/examples/src/counter/store/counterStore.ts
  projects/examples/src/todo/TodoApp.tsx
  projects/examples/src/todo/components/Filter.tsx
  projects/examples/src/todo/components/Todo.tsx
  projects/examples/src/todo/components/TodoAdder.tsx
  projects/examples/src/todo/components/TodoList.tsx
  projects/examples/src/todo/store/todoStore.ts
Due: eslint --fix, prettier --write

release v3.0.0
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

update docs
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
Due: prettier --write

fix doc words
  README.md
  README_kk_KZ.md
  README_zh_CN.md
  packages/jagdai/README.md
  packages/jagdai/README_kk_KZ.md
  packages/jagdai/README_zh_CN.md
Due: prettier --write

optimize ValidStoreOutput
  packages/jagdai/src/jagdai.ts
Due: eslint --fix, prettier --write

remove symbol
  packages/jagdai/src/create.tsx
  packages/jagdai/src/jagdai.ts
  packages/jagdai/src/useCreation.ts
  packages/jagdai/src/useEvent.ts
  packages/jagdai/src/useEventSubscription.ts
  packages/jagdai/src/utility.ts
Due: eslint --fix, prettier --write

add useEarliestEffect
  packages/jagdai/src/create.tsx
  packages/jagdai/src/useCreation.ts
  packages/jagdai/src/useEarliestEffect.ts
  packages/jagdai/src/useEvent.ts
  packages/jagdai/src/useEventSubscription.ts
Due: eslint --fix, prettier --write

release v3.0.1
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

fix: useQuerySelector compare
  packages/jagdai/src/create.tsx
  packages/jagdai/src/store.ts
  packages/jagdai/src/useEventSubscription.ts
  packages/jagdai/src/useQuerySelector.ts
Due: eslint --fix, prettier --write

test typo
  packages/jagdai/__tests__/basic.test.tsx
Due: eslint --fix, prettier --write

release v3.0.2
  packages/jagdai/CHANGELOG.md
  packages/jagdai/package.json
  pnpm-lock.yaml
  projects/examples/CHANGELOG.md
  projects/examples/package.json
Due: prettier --write

optimize useQuerySelector
  packages/jagdai/src/useQuerySelector.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx,vue}
  prettier --write: any of: *.{json,yml,md,html,js,ts,tsx,vue}
